section.container{
    width: 60%;
    margin:0 auto
    
}

div.wrapper{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap:wrap;
}


.decorationsquare{
    border:2px solid white;
    width: calc(100% / 8);
    height: calc(100% / 8);
}